openapi: "3.0.0"
info:
  version: "0.0.1"
  title: "Scryfall API Documentation"
  description: "Scryfall provides a REST-like API for ingesting our card data programatically. The API exposes information available on the regular site in easy-to-consume formats."
servers:
  - url: "https://api.scryfall.com"
tags:
  - name: "Sets"
    description: "A Set object represents a group of related Magic cards. All Card objects on Scryfall belong to exactly one set."
  - name: "Cards"
    description: "Card objects represent individual Magic: The Gathering cards that players could obtain and add to their collection (with a few minor exceptions)."
  - name: "Rulings"
    description: "Rulings represent Oracle rulings, Wizards of the Coast set release notes, or Scryfall notes for a particular card.If two cards have the same name, they will have the same set of rulings objects. If a card has rulings, it usually has more than one.Rulings with a scryfall source have been added by the Scryfall team, either to provide additional context for the card, or explain how the card works in an unofficial format (such as Duel Commander)."
  - name: "Card Symbols"
    description: "A Card Symbol object represents an illustrated symbol that may appear in card’s mana cost or Oracle text. Symbols are based on the notation used in the Comprehensive Rules."
  - name: "Catalog"
    description: "A Catalog object contains an array of Magic datapoints (words, card values, etc). Catalog objects are provided by the API as aids for building other Magic software and understanding possible values for a field on Card objects."
  - name: "Bulk Data"
    description: "Scryfall provides daily exports of our card data in bulk files. Each of these files is represented as a bulk_data object via the API. URLs for files change their timestamp each day, and can be fetched programmatically."
  - name: "Application"
    description: "OAuth and registered API applications are currently in private beta. Public registration for applications is not currently available.Some Scryfall API methods are restricted to valid applications, and registered applications receive increased API limits.In addition, your application can implement an OAuth workflow that allows people with Scryfall accounts to grant your application programatic access to their data."
paths:
  /sets:
    get:
      tags:
        - "Sets"
      summary: "Returns a List object of all Sets on Scryfall."
      parameters:
        - $ref: '#/components/parameters/formatJson'
        - $ref: '#/components/parameters/prettyJson'
      responses:
        200:
          description: "Ok"
  /sets/{code}:
    get:
      tags:
        - "Sets"
      summary: "Returns a Set with the given set code. The code can be either the code or the mtgo_code for the set."
      parameters:
        - name: code
          in: path
          required: True
          description: "The three to five-letter set code."
          schema:
            type: "string"
        - $ref: '#/components/parameters/formatJson'
        - $ref: '#/components/parameters/prettyJson'
      responses:
        200:
          description: "Ok"
  /sets/tcgplayer/{id}:
    get:
      tags:
        - "Sets"
      summary: "Returns a Set with the given tcgplayer_id, also known as the groupId on TCGplayer’s API."
      parameters:
        - name: id
          in: path
          required: True
          description: "The tcgplayer_id or groupId."
          schema:
            type: "integer"
        - $ref: '#/components/parameters/formatJson'
        - $ref: '#/components/parameters/prettyJson'
      responses:
        200:
          description: "Ok"
  /sets/{id}:
    get:
      tags:
        - "Sets"
      summary: "Returns a Set with the given Scryfall id."
      parameters:
        - name: id
          in: path
          required: True
          description: "The Scryfall ID."
          schema:
            type: "string"
            format: "uuid"
        - $ref: '#/components/parameters/formatJson'
        - $ref: '#/components/parameters/prettyJson'
      responses:
        200:
          description: "Ok"
  /cards/search:
    get:
      tags:
        - "Cards"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/named:
    get:
      tags:
        - "Cards"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/autocomplete:
    get:
      tags:
        - "Cards"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/random:
    get:
      tags:
        - "Cards"
      summary: "Returns a single random Card object"
      parameters:
        - name: q
          in: query
          required: false
          description: An optional fulltext search query to filter the pool of random cards. Make sure that your parameter is properly encoded.
          schema:
            type: string
        - name: format
          in: query
          required: false
          description: The data format to return json, text, or image. Defaults to json.
          schema:
            type: string
        - name: face
          in: query
          required: false
          description: If using the image format and this parameter has the value back, the back face of the card will be returned. Will return a 422 if this card has no back face.
          schema:
            type: string
        - name: version
          in: query
          required: false
          description: The image version to return when using the image format small, normal, large, png, art_crop, or border_crop. Defaults to large.
          schema:
            type: string
        - name: pretty
          in: query
          required: false
          description: If true, the returned JSON will be prettified. Avoid using for production code.
          schema:
            type: boolean
      responses:
        401:
          description: "Unauthorized"
        200:
          description: "OK"
  /cards/collection:
    get:
      tags:
        - "Cards"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/code/number/lang:
    get:
      tags:
        - "Cards"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/multiverse/id:
    get:
      tags:
        - "Cards"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/mtgo/id:
    get:
      tags:
        - "Cards"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/arena/id:
    get:
      tags:
        - "Cards"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/tcgplayer/id:
    get:
      tags:
        - "Cards"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/cardmarket/id:
    get:
      tags:
        - "Cards"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/id:
    get:
      tags:
        - "Cards"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/multiverse/id/rulings:
    get:
      tags:
        - "Rulings"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/mtgo/id/rulings:
    get:
      tags:
        - "Rulings"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/arena/id/rulings:
    get:
      tags:
        - "Rulings"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/code/number/rulings:
    get:
      tags:
        - "Rulings"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/id/rulings:
    get:
      tags:
        - "Rulings"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /symbology:
    get:
      tags:
        - "Card Symbols"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /symbology/parse-mana:
    get:
      tags:
        - "Card Symbols"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /catalog/card-names:
    get:
      tags:
        - "Catalog"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /catalog/artist-names:
    get:
      tags:
        - "Catalog"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /catalog/word-bank:
    get:
      tags:
        - "Catalog"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /catalog/creature-types:
    get:
      tags:
        - "Catalog"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /catalog/planeswalker-types:
    get:
      tags:
        - "Catalog"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /catalog/land-types:
    get:
      tags:
        - "Catalog"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /catalog/artifact-types:
    get:
      tags:
        - "Catalog"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /catalog/enchantment-types:
    get:
      tags:
        - "Catalog"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /catalog/spell-types:
    get:
      tags:
        - "Catalog"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /catalog/powers:
    get:
      tags:
        - "Catalog"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /catalog/touighnesses:
    get:
      tags:
        - "Catalog"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /catalog/loyalties:
    get:
      tags:
        - "Catalog"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /catalog/watermarks:
    get:
      tags:
        - "Catalog"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /catalog/keyword-abilities:
    get:
      tags:
        - "Catalog"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /catalog/ketword-actions:
    get:
      tags:
        - "Catalog"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /catalog/ability-words:
    get:
      tags:
        - "Catalog"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /bulk-data:
    get:
      tags:
        - "Bulk Data"
      summary: ""
      responses:
        200:
          description: "Ok"
  /bulk-data/id:
    get:
      tags:
        - "Bulk Data"
      summary: ""
      responses:
        200:
          description: "Ok"
  /bulk-data/type:
    get:
      tags:
        - "Bulk Data"
      summary: ""
      responses:
        200:
          description: "Ok"
  /account:
    get:
      tags:
        - "Application"
      summary: ""
      responses:
        200:
          description: "Ok"
  /application:
    get:
      tags:
        - "Application"
      summary: ""
      responses:
        200:
          description: "Ok"
  /oauth/convert:
    get:
      tags:
        - "Application"
      summary: ""
      responses:
        200:
          description: "Ok"
  /oauth/downgrade:
    get:
      tags:
        - "Application"
      summary: ""
      responses:
        200:
          description: "Ok"
  /oauth/revoke:
    get:
      tags:
        - "Application"
      summary: ""
      responses:
        200:
          description: "Ok"
components:
  schemas:
    Error:
      description: "An Error object represents a failure to find information or understand the input you provided to the API. Error objects are always transmitted with the appropriate 4XX or 5XX HTTP status code."
      type: "object"
      properties:
        status:
         description: "An integer HTTP status code for this error."
         type: "integer"
        code:
          description: "A computer-friendly string representing the appropriate HTTP status code."
          type: "string"
        details:
          description: "A human-readable string explaining the error."
          type: "string"
        type:
          description: "A computer-friendly string that provides additional context for the main error. For example, an endpoint many generate HTTP 404 errors for different kinds of input. This field will provide a label for the specific kind of 404 failure, such as ambiguous."
          type: "string"
          nullable: true
        warnings:
          description: "If your input also generated non-failure warnings, they will be provided as human-readable strings in this array.your input also generated non-failure warnings, they will be provided as human-readable strings in this array."
          type: "array"
          nullable: true
          items:
            type: "string"
    List:
     description: "A List object represents a requested sequence of other objects (Cards, Sets, etc). List objects may be paginated, and also include information about issues raised when generating the list."
     type: "object"
     properties:
       data:
        description: "An array of the requested objects, in a specific order."
        type: "array"
        items:
          type: "object"
       has_more:
         description: "True if this List is paginated and there is a page beyond the current page."
         type: "boolean"
       next_page:
         description: "If there is a page beyond the current page, this field will contain a full API URI to that page. You may submit a HTTP GET request to that URI to continue paginating forward on this List."
         type: "string"
         format: "uri"
         nullable: true
       total_cards:
         description: "If this is a list of Card objects, this field will contain the total number of cards found across all pages."
         type: "string"
         nullable: true
       warnings:
         description: "An array of human-readable warnings issued when generating this list, as strings. Warnings are non-fatal issues that the API discovered with your input. In general, they indicate that the List will not contain the all of the information you requested. You should fix the warnings and re-submit your request."
         type: "array"
         nullable: true
         items:
           type: "string"
  parameters:
    formatJson:
      name: format
      in: query
      required: false
      description: "The data format to return. This method only supports json."
      schema:
        type: "string"
    prettyJson:
      name: "pretty"
      in: query
      required: false
      description: "If true, the returned JSON will be prettified. Avoid using for production code."
      schema:
        type: "boolean"
