openapi: "3.0.0"
info:
  version: "0.0.1"
  title: "Scryfall API Documentation"
  description: "Scryfall provides a REST-like API for ingesting our card data programatically. The API exposes information available on the regular site in easy-to-consume formats."
servers:
  - url: "https://api.scryfall.com"
    description: "gfycat api"
tags:
  - name: "Sets"
    description: ""
  - name: "cards"
    description: "Card objects represent individual Magic: The Gathering cards that players could obtain and add to their collection (with a few minor exceptions)."
paths:
  /cards/search:
    get:
      tags:
        - "cards"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/named:
    get:
      tags:
        - "cards"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/autocomplete:
    get:
      tags:
        - "cards"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/random:
    get:
      tags:
        - "cards"
      summary: "Returns a single random Card object"
      parameters:
        - name: q
          in: query
          required: false
          description: An optional fulltext search query to filter the pool of random cards. Make sure that your parameter is properly encoded.
          schema:
            type: string
        - name: format
          in: query
          required: false
          description: The data format to return json, text, or image. Defaults to json.
          schema:
            type: string
        - name: face
          in: query
          required: false
          description: If using the image format and this parameter has the value back, the back face of the card will be returned. Will return a 422 if this card has no back face.
          schema:
            type: string
        - name: version
          in: query
          required: false
          description: The image version to return when using the image format small, normal, large, png, art_crop, or border_crop. Defaults to large.
          schema:
            type: string
        - name: pretty
          in: query
          required: false
          description: If true, the returned JSON will be prettified. Avoid using for production code.
          schema:
            type: boolean
      responses:
        401:
          description: "Unauthorized"
        200:
          description: "OK"
  /cards/collection:
    get:
      tags:
        - "cards"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/code/number/lang:
    get:
      tags:
        - "cards"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/multiverse/id:
    get:
      tags:
        - "cards"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/mtgo/id:
    get:
      tags:
        - "cards"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/arena/id:
    get:
      tags:
        - "cards"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/tcgplayer/id:
    get:
      tags:
        - "cards"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/cardmarket/id:
    get:
      tags:
        - "cards"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
  /cards/id:
    get:
      tags:
        - "cards"
      summary: "Returns a single random Card object"
      responses:
        200:
          description: "Ok"
components:
  schemas:
    Error:
      description: "An Error object represents a failure to find information or understand the input you provided to the API. Error objects are always transmitted with the appropriate 4XX or 5XX HTTP status code."
      type: "object"
      properties:
        status:
         description: "An integer HTTP status code for this error."
         type: "integer"
        code:
          description: "A computer-friendly string representing the appropriate HTTP status code."
          type: "string"
        details:
          description: "A human-readable string explaining the error."
          type: "string"
        type:
          description: "A computer-friendly string that provides additional context for the main error. For example, an endpoint many generate HTTP 404 errors for different kinds of input. This field will provide a label for the specific kind of 404 failure, such as ambiguous."
          type: "string"
          nullable: true
        warnings:
          description: "If your input also generated non-failure warnings, they will be provided as human-readable strings in this array.your input also generated non-failure warnings, they will be provided as human-readable strings in this array."
          type: "array"
          nullable: true
          items:
            type: "string"
    List:
     description: "A List object represents a requested sequence of other objects (Cards, Sets, etc). List objects may be paginated, and also include information about issues raised when generating the list."
     type: "object"
     properties:
       data:
        description: "An array of the requested objects, in a specific order."
        type: "array"
        items:
          type: "object"
       has_more:
         description: "True if this List is paginated and there is a page beyond the current page."
         type: "boolean"
       next_page:
         description: "If there is a page beyond the current page, this field will contain a full API URI to that page. You may submit a HTTP GET request to that URI to continue paginating forward on this List."
         type: "string"
         format: "uri"
         nullable: true
       total_cards:
         description: "If this is a list of Card objects, this field will contain the total number of cards found across all pages."
         type: "string"
         nullable: true
       warnings:
         description: "An array of human-readable warnings issued when generating this list, as strings. Warnings are non-fatal issues that the API discovered with your input. In general, they indicate that the List will not contain the all of the information you requested. You should fix the warnings and re-submit your request."
         type: "array"
         nullable: true
         items:
           type: "string"
