openapi: "3.0.0"
info:
  version: "0.0.0"
  title: "Scryfall API Documentation"
  description: "Scryfall provides a REST-like API for ingesting our card data programatically. The API exposes information available on the regular site in easy-to-consume formats."
servers:
  - url: "https://api.scryfall.com"
tags:
  - name: sets
    description: "A Set object represents a group of related Magic cards. All Card objects on Scryfall belong to exactly one set."
  - name: cards
    description: "Card objects represent individual Magic: The Gathering cards that players could obtain and add to their collection (with a few minor exceptions)."
  - name: rulings
    description: "Rulings represent Oracle rulings, Wizards of the Coast set release notes, or Scryfall notes for a particular card.If two cards have the same name, they will have the same set of rulings objects. If a card has rulings, it usually has more than one.Rulings with a scryfall source have been added by the Scryfall team, either to provide additional context for the card, or explain how the card works in an unofficial format (such as Duel Commander)."
  - name: card symbols
    description: "A Card Symbol object represents an illustrated symbol that may appear in card’s mana cost or Oracle text. Symbols are based on the notation used in the Comprehensive Rules."
  - name: catalog
    description: "A Catalog object contains an array of Magic datapoints (words, card values, etc). Catalog objects are provided by the API as aids for building other Magic software and understanding possible values for a field on Card objects."
  - name: bulk data
    description: "Scryfall provides daily exports of our card data in bulk files. Each of these files is represented as a bulk_data object via the API. URLs for files change their timestamp each day, and can be fetched programmatically."
  - name: application
    description: "OAuth and registered API applications are currently in private beta. Public registration for applications is not currently available.Some Scryfall API methods are restricted to valid applications, and registered applications receive increased API limits.In addition, your application can implement an OAuth workflow that allows people with Scryfall accounts to grant your application programatic access to their data."
paths:
  /sets:
    get:
      tags:
        - sets
      summary: "Returns a List object of all Sets on Scryfall."
      parameters:
        - $ref: '#/components/parameters/formatJson'
        - $ref: '#/components/parameters/prettyJson'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/set_list'
        default:
          description: error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /sets/{code}:
    get:
      tags:
        - sets
      summary: "Returns a Set with the given set code. The code can be either the code or the mtgo_code for the set."
      parameters:
        - name: code
          in: path
          required: true
          description: "The three to five-letter set code."
          schema:
            type: string
        - $ref: '#/components/parameters/formatJson'
        - $ref: '#/components/parameters/prettyJson'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/set'
        default:
          description: error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /sets/tcgplayer/{id}:
    get:
      tags:
        - sets
      summary: "Returns a Set with the given tcgplayer_id, also known as the groupId on TCGplayer’s API."
      parameters:
        - name: id
          in: path
          required: true
          description: "The tcgplayer_id or groupId."
          schema:
            type: integer
        - $ref: '#/components/parameters/formatJson'
        - $ref: '#/components/parameters/prettyJson'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/set'
        default:
          description: error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /sets/{id}:
    get:
      tags:
        - sets
      summary: "Returns a Set with the given Scryfall id."
      parameters:
        - name: id
          in: path
          required: true
          description: "The Scryfall ID."
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/formatJson'
        - $ref: '#/components/parameters/prettyJson'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/set'
        default:
          description: error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /cards/search:
    get:
      tags:
        - cards
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /cards/named:
    get:
      tags:
        - cards
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /cards/autocomplete:
    get:
      tags:
        - cards
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /cards/random:
    get:
      tags:
        - cards
      summary: "Returns a single random Card object"
      parameters:
        - name: q
          in: query
          required: false
          description: An optional fulltext search query to filter the pool of random cards. Make sure that your parameter is properly encoded.
          schema:
            type: string
        - name: format
          in: query
          required: false
          description: The data format to return json, text, or image. Defaults to json.
          schema:
            type: string
        - name: face
          in: query
          required: false
          description: If using the image format and this parameter has the value back, the back face of the card will be returned. Will return a 422 if this card has no back face.
          schema:
            type: string
        - name: version
          in: query
          required: false
          description: The image version to return when using the image format small, normal, large, png, art_crop, or border_crop. Defaults to large.
          schema:
            type: string
        - name: pretty
          in: query
          required: false
          description: If true, the returned JSON will be prettified. Avoid using for production code.
          schema:
            type: boolean
      responses:
        401:
          description: "Unauthorized"
        200:
          description: "OK"
  /cards/collection:
    get:
      tags:
        - cards
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /cards/code/number/lang:
    get:
      tags:
        - cards
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /cards/multiverse/id:
    get:
      tags:
        - cards
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /cards/mtgo/id:
    get:
      tags:
        - cards
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /cards/arena/id:
    get:
      tags:
        - cards
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /cards/tcgplayer/id:
    get:
      tags:
        - cards
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /cards/cardmarket/id:
    get:
      tags:
        - cards
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /cards/id:
    get:
      tags:
        - cards
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /cards/multiverse/id/rulings:
    get:
      tags:
        - rulings
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /cards/mtgo/id/rulings:
    get:
      tags:
        - rulings
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /cards/arena/id/rulings:
    get:
      tags:
        - rulings
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /cards/code/number/rulings:
    get:
      tags:
        - rulings
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /cards/id/rulings:
    get:
      tags:
        - rulings
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /symbology:
    get:
      tags:
        - card symbols
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /symbology/parse-mana:
    get:
      tags:
        - card symbols
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/card-names:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/artist-names:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/word-bank:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/creature-types:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/planeswalker-types:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/land-types:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/artifact-types:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/enchantment-types:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/spell-types:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/powers:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/touighnesses:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/loyalties:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/watermarks:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/keyword-abilities:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/ketword-actions:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/ability-words:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /bulk-data:
    get:
      tags:
        - bulk data
      summary: ""
      responses:
        200:
          description: success
  /bulk-data/id:
    get:
      tags:
        - bulk data
      summary: ""
      responses:
        200:
          description: success
  /bulk-data/type:
    get:
      tags:
        - bulk data
      summary: ""
      responses:
        200:
          description: success
  /account:
    get:
      tags:
        - application
      summary: ""
      responses:
        200:
          description: success
  /application:
    get:
      tags:
        - application
      summary: ""
      responses:
        200:
          description: success
  /oauth/convert:
    get:
      tags:
        - application
      summary: ""
      responses:
        200:
          description: success
  /oauth/downgrade:
    get:
      tags:
        - application
      summary: ""
      responses:
        200:
          description: success
  /oauth/revoke:
    get:
      tags:
        - application
      summary: ""
      responses:
        200:
          description: success
components:
  schemas:
    error:
      description: "An Error object represents a failure to find information or understand the input you provided to the API. Error objects are always transmitted with the appropriate 4XX or 5XX HTTP status code."
      type: object
      properties:
        status:
         description: "An integer HTTP status code for this error."
         type: integer
        code:
          description: "A computer-friendly string representing the appropriate HTTP status code."
          type: string
        details:
          description: "A human-readable string explaining the error."
          type: string
        type:
          description: "A computer-friendly string that provides additional context for the main error. For example, an endpoint many generate HTTP 404 errors for different kinds of input. This field will provide a label for the specific kind of 404 failure, such as ambiguous."
          type: string
          nullable: true
        warnings:
          description: "If your input also generated non-failure warnings, they will be provided as human-readable strings in this array.your input also generated non-failure warnings, they will be provided as human-readable strings in this array."
          type: array
          nullable: true
          items:
            type: string
    list:
     description: "A List object represents a requested sequence of other objects (Cards, Sets, etc). List objects may be paginated, and also include information about issues raised when generating the list."
     type: object
     properties:
       data:
        description: "An array of the requested objects, in a specific order."
        type: array
        items:
          type: object
       has_more:
         description: "True if this List is paginated and there is a page beyond the current page."
         type: boolean
       next_page:
         description: "If there is a page beyond the current page, this field will contain a full API URI to that page. You may submit a HTTP GET request to that URI to continue paginating forward on this List."
         type: string
         format: uri
         nullable: true
       total_cards:
         description: "If this is a list of Card objects, this field will contain the total number of cards found across all pages."
         type: string
         nullable: true
       warnings:
         description: "An array of human-readable warnings issued when generating this list, as strings. Warnings are non-fatal issues that the API discovered with your input. In general, they indicate that the List will not contain the all of the information you requested. You should fix the warnings and re-submit your request."
         type: array
         nullable: true
         items:
           type: string
    set:
      description: ""
      type: object
      properties:
        id:
          description: "A unique ID for this set on Scryfall that will not change."
          type: string
          format: uuid
        code:
          description: "The unique three to five-letter code for this set."
          type: string
        mtgo_code:
          description: "The unique code for this set on MTGO, which may differ from the regular code."
          type: string
          nullable: true
        tcgplayer_id:
          description: "This set’s ID on TCGplayer’s API, also known as the groupId."
          type: integer
          nullable: true
        name:
          description: "The English name of the set."
          type: string
        set_type:
          description: "A computer-readable classification for this set. See below."
          type: string
        released_at:
          description: "The date the set was released or the first card was printed in the set (in GMT-8 Pacific time)."
          type: string
          format: "date"
        block_code:
          description: "The block code for this set, if any."
          type: string
          nullable: true
        block:
          description: "The block or group name code for this set, if any."
          type: string
          nullable: true
        parent_set_code:
          description: "The set code for the parent set, if any. promo and token sets often have a parent set."
          type: string
          nullable: true
        card_count:
          description: "The number of cards in this set."
          type: integer
        printed_size:
          description: "The denominator for the set’s printed collector numbers."
          type: integer
          nullable: true
        digital:
          description: "True if this set was only released in a video game."
          type: boolean
        foil_only:
          description: "True if this set contains only foil cards."
          type: boolean
        nonfoil_only:
          description: "True if this set contains only nonfoil cards."
          type: boolean
        scryfall_uri:
          description: "A link to this set’s permapage on Scryfall’s website."
          type: string
          format: uri
        uri:
          description: "A link to this set object on Scryfall’s API."
          type: string
          format: uri
        icon_svg_uri:
          description: "A URI to an SVG file for this set’s icon on Scryfall’s CDN. Hotlinking this image isn’t recommended, because it may change slightly over time. You should download it and use it locally for your particular user interface needs."
          type: string
          format: uri
        search_uri:
          description: "A Scryfall API URI that you can request to begin paginating over the cards in this set."
          type: string
          format: uri
    set_list:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/set'
    rulings:
      type: object
      properties:
        source:
          description: "A computer-readable string indicating which company produced this ruling, either wotc or scryfall."
          type: string
        published_at:
          description: "	The date when the ruling or note was published."
          type: string
          format: Date
        comment:
          description: "The text of the ruling."
          type: string
    rulings_list:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/rulings'
    card_symbol:
      type: object
      properties:
        symbol:
          description: "The plaintext symbol. Often surrounded with curly braces {}. Note that not all symbols are ASCII text (for example, {∞})."
          type: string
        loose_variant:
          description: "An alternate version of this symbol, if it is possible to write it without curly braces."
          type: string
          nullable: true
        english:
          description: "An English snippet that describes this symbol. Appropriate for use in alt text or other accessible communication formats."
          type: string
        transposable:
          description: "True if it is possible to write this symbol “backwards”. For example, the official symbol {U/P} is sometimes written as {P/U} or {P\\U} in informal settings. Note that the Scryfall API never writes symbols backwards in other responses. This field is provided for informational purposes."
          type: boolean
        represents_mana:
          description: "True if this is a mana symbol."
          type: boolean
        cmc:
          description: "A decimal number representing this symbol’s converted mana cost. Note that mana symbols from funny sets can have fractional converted mana costs."
          type: number
          nullable: true
        appears_in_mana_costs:
          description: "True if this symbol appears in a mana cost on any Magic card. For example {20} has this field set to false because {20} only appears in Oracle text, not mana costs."
          type: boolean
        funny:
          description: "True if this symbol is only used on funny cards or Un-cards."
          type: boolean
        colors:
          description: "An array of colors that this symbol represents."
          type: array
          items:
            type: object #TODO: Need to add color object here
        gatherer_alternates:
          description: "An array of plaintext versions of this symbol that Gatherer uses on old cards to describe original printed text. For example: {W} has [\"oW\", \"ooW\"] as alternates."
          type: string
          nullable: true
        svg_uri:
          description: "A URI to an SVG image of this symbol on Scryfall’s CDNs."
          type: string
          format: uri
          nullable: true
    catalog:
      type: object
      properties:
        uri:
          description: "A link to the current catalog on Scryfall’s API."
          type: string
          format: uri
        total_values:
          description: "The number of items in the data array."
          type: integer
        data:
          description: "An array of datapoints, as strings."
          type: array
          items:
            type: string
    bulk_data:
      type: object
      properties:
        id:
          description: ""
          type: string
          format: uuid
        uri:
          description: ""
          type: string
          format: uri
        type:
          description: ""
          type: string
        name:
          description: ""
          type: string
        description:
          description: ""
          type: string
        download_uri:
          description: ""
          type: string
          format: uri
        updated_at:
          description: ""
          type: string
          format: "date-time"
        compressed_size:
          description: ""
          type: integer
        content_type:
          description: "The MIME type of this file. ex: \"application/json\""
          type: string
        content_encoding:
          description: "The Content-Encoding encoding that will be used to transmit this file when you download it. ex. \"gzip\""
          type: string
    bulk_data_list:
      type: object
      properties:
        has_more:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/bulk_data'
    card:
      type: object
      properties:
        arena_id:
          description: "This card’s Arena ID, if any. A large percentage of cards are not available on Arena and do not have this ID."
          type: integer
          nullable: true
        id:
          description: "A unique ID for this card in Scryfall’s database."
          type: string
          format: uuid
        lang:
          description: "A language code for this printing."
          type: string
        mtgo_id:
          description: "This card’s Magic Online ID (also known as the Catalog ID), if any. A large percentage of cards are not available on Magic Online and do not have this ID."
          type: integer
          nullable: true
        mtgo_foil_id:
          description: "This card’s foil Magic Online ID (also known as the Catalog ID), if any. A large percentage of cards are not available on Magic Online and do not have this ID."
          type: integer
          nullable: true
        multiverse_ids:
          description: "This card’s multiverse IDs on Gatherer, if any, as an array of integers. Note that Scryfall includes many promo cards, tokens, and other esoteric objects that do not have these identifiers."
          type: array
          items:
            type: integer
          nullable: true
        tcgplayer_id:
          description: "This card’s ID on TCGplayer’s API, also known as the productId."
          type: integer
          nullable: true
        cardmarket_id:
          description: "This card’s ID on Cardmarket’s API, also known as the idProduct."
          type: integer
          nullable: true
        object:
          description: "A content type for this object, always card."
          type: string
        oracle_id:
          description: "A unique ID for this card’s oracle identity. This value is consistent across reprinted card editions, and unique among different cards with the same name (tokens, Unstable variants, etc)."
          type: string
          format: uuid
        prints_search_uri:
          description: "A link to where you can begin paginating all re/prints for this card on Scryfall’s API."
          type: string
          format: uri
        rulings_uri:
          description: "A link to this card’s rulings list on Scryfall’s API."
          type: string
          format: uri
        scryfall_uri:
          description: "A link to this card’s permapage on Scryfall’s website."
          type: string
          format: uri
        uri:
          description: "A link to this card object on Scryfall’s API."
          type: string
          format: uri
        all_parts:
          description: ""
          type: array
          items:
            type: object #TODO: related card objects
        card_faces:
          description: ""
          type: array
          items:
            type: object #TODO: card face objects
        cmc:
          description: ""
          type: number
        color_identity:
          description: ""
          type: object #TODO: colors object
        color_indicator:
          description: ""
          type: object #TODO: colors object
        colors:
          description: ""
          type: object #TODO: colors object
        edhrec_rank:
          description: ""
          type: integer
        foil:
          description: ""
          type: boolean
        hand_modifier:
          description: ""
          type: string
        keywords:
          description: ""
          type: array
          items:
            type: string
        layout:
          description: ""
          type: string
        legalities:
          description: ""
          type: object #TODO: legality object
        life_modifier:
          description: ""
          type: string
        loyalty:
          description: ""
          type: string
        mana_cost:
          description: ""
          type: string
        name:
          description: ""
          type: string
        nonfoil:
          description: ""
          type: boolean
        oracle_text:
          description: ""
          type: string
        oversized:
          description: ""
          type: boolean
        power:
          description: ""
          type: string
        produced_mana:
          description: ""
          type: object #TODO: colors
        reserved:
          description: ""
          type: boolean
        toughness:
          description: ""
          type: string
        type_line:
          description: ""
          type: string
        artist:
          description: ""
          type: string
        booster:
          description: ""
          type: boolean
        border_color:
          description: ""
          type: string
        card_back_id:
          description: ""
          type: string
          format: uuid
        collector_number:
          description: ""
          type: string
        content_warning:
          description: ""
          type: boolean
        digital:
          description: ""
          type: boolean
        flavor_name:
          description: ""
          type: string
        flavor_text:
          description: ""
          type: string
        frame_effects:
          description: ""
          type: array
          items:
            type: string
        frame:
          description: ""
          type: string
        full_art:
          description: ""
          type: boolean
        games:
          description: ""
          type: array
          items:
            type: string
        highres_image:
          description: ""
          type: boolean
        illustration_id:
          description: ""
          type: string
          format: uuid
        image_status:
          description: ""
          type: string
        image_uris:
          description: ""
          type: object #TODO: card imagery object
        prices:
          description: ""
          type: object #TODO: prices object
        printed_name:
          description: ""
          type: string
        printed_text:
          description: ""
          type: string
        printed_type_line:
          description: ""
          type: string
        promo:
          description: ""
          type: boolean
        promo_types:
          description: ""
          type: array
          items:
            type: string
        purchase_uris:
          description: ""
          type: object #TODO: purchase uri objects
        rarity:
          description: ""
          type: string
        related_uris:
          description: ""
          type: object #TODO: related uris object
        released_at:
          description: ""
          type: string
          format: date
        reprint:
          description: ""
          type: boolean
        scryfall_set_uri:
          description: ""
          type: string
          format: uri
        set_name:
          description: ""
          type: string
        set_search_uri:
          description: ""
          type: string
          format: uri
        set_type:
          description: ""
          type: string
        set_uri:
          description: ""
          type: string
          format: uri
        set:
          description: ""
          type: string
        set_id:
          description: ""
          type: string
        story_spotlight:
          description: ""
          type: boolean
        textless:
          description: ""
          type: boolean
        variation:
          description: ""
          type: boolean
        variation_of:
          description: ""
          type: string
          format: uuid
        watermark:
          description: ""
          type: string
        preview.previewed_at:
          description: ""
          type: string
          format: date
        preview.source_uri:
          description: ""
          type: string
          format: uri
        preview.source:
          description: ""
          type: string
    card_face:
      type: object
      properties:
        artist:
          description: ""
          type: string
        color_indicator:
          description: ""
          type: object #TODO: colors object
        colors:
          description: ""
          type: string #TODO: colors object
        flavor_text:
          description: ""
          type: string
        illustration_id:
          description: ""
          type: string
          format: uuid
        image_uris:
          description: ""
          type: object #TODO: image uri object
        loyality:
          description: ""
          type: string
        mana_cost:
          description: ""
          type: string
        name:
          description: ""
          type: string
        object:
          description: ""
          type: string
        oracle_text:
          description: ""
          type: string
        power:
          description: ""
          type: string
        printed_name:
          description: ""
          type: string
        printed_text:
          description: ""
          type: string
        printed_type_line:
          description: ""
          type: string
        toughness:
          description: ""
          type: string
        type_line:
          description: ""
          type: string
        watermark:
          description: ""
          type: string





  parameters:
    formatJson:
      name: format
      in: query
      required: false
      description: "The data format to return. This method only supports json."
      schema:
        type: string
    prettyJson:
      name: pretty
      in: query
      required: false
      description: "If true, the returned JSON will be prettified. Avoid using for production code."
      schema:
        type: boolean
