openapi: "3.0.0"
info:
  version: "0.0.0"
  title: "Scryfall API Documentation"
  description: "Scryfall provides a REST-like API for ingesting our card data programatically. The API exposes information available on the regular site in easy-to-consume formats."
servers:
  - url: "https://api.scryfall.com"
tags:
  - name: sets
    description: "A Set object represents a group of related Magic cards. All Card objects on Scryfall belong to exactly one set."
  - name: cards
    description: "Card objects represent individual Magic: The Gathering cards that players could obtain and add to their collection (with a few minor exceptions)."
  - name: rulings
    description: "Rulings represent Oracle rulings, Wizards of the Coast set release notes, or Scryfall notes for a particular card.If two cards have the same name, they will have the same set of rulings objects. If a card has rulings, it usually has more than one.Rulings with a scryfall source have been added by the Scryfall team, either to provide additional context for the card, or explain how the card works in an unofficial format (such as Duel Commander)."
  - name: card symbols
    description: "A Card Symbol object represents an illustrated symbol that may appear in card’s mana cost or Oracle text. Symbols are based on the notation used in the Comprehensive Rules."
  - name: catalog
    description: "A Catalog object contains an array of Magic datapoints (words, card values, etc). Catalog objects are provided by the API as aids for building other Magic software and understanding possible values for a field on Card objects."
  - name: bulk data
    description: "Scryfall provides daily exports of our card data in bulk files. Each of these files is represented as a bulk_data object via the API. URLs for files change their timestamp each day, and can be fetched programmatically."
  - name: application
    description: "OAuth and registered API applications are currently in private beta. Public registration for applications is not currently available.Some Scryfall API methods are restricted to valid applications, and registered applications receive increased API limits.In addition, your application can implement an OAuth workflow that allows people with Scryfall accounts to grant your application programatic access to their data."
paths:
  /sets:
    $ref: './paths/sets.yaml'
  /sets/{code}:
    $ref: './paths/sets_code.yaml'
  /sets/tcgplayer/{id}:
    $ref: './paths/sets_tcgplayer_id.yaml'
  /sets/{id}:
    $ref: './paths/sets_id.yaml'
  /cards/search:
    $ref: './paths/cards_search.yaml'
  /symbology:
    get:
      tags:
        - card symbols
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /symbology/parse-mana:
    get:
      tags:
        - card symbols
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/card-names:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/artist-names:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/word-bank:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/creature-types:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/planeswalker-types:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/land-types:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/artifact-types:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/enchantment-types:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/spell-types:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/powers:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/touighnesses:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/loyalties:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/watermarks:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/keyword-abilities:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/ketword-actions:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /catalog/ability-words:
    get:
      tags:
        - catalog
      summary: "Returns a single random Card object"
      responses:
        200:
          description: success
  /bulk-data:
    get:
      tags:
        - bulk data
      summary: ""
      responses:
        200:
          description: success
  /bulk-data/id:
    get:
      tags:
        - bulk data
      summary: ""
      responses:
        200:
          description: success
  /bulk-data/type:
    get:
      tags:
        - bulk data
      summary: ""
      responses:
        200:
          description: success
  /account:
    get:
      tags:
        - application
      summary: ""
      responses:
        200:
          description: success
  /application:
    get:
      tags:
        - application
      summary: ""
      responses:
        200:
          description: success
  /oauth/convert:
    get:
      tags:
        - application
      summary: ""
      responses:
        200:
          description: success
  /oauth/downgrade:
    get:
      tags:
        - application
      summary: ""
      responses:
        200:
          description: success
  /oauth/revoke:
    get:
      tags:
        - application
      summary: ""
      responses:
        200:
          description: success
components:
  schemas:
    error:
      $ref: './schemas/error.yaml'
    list:
      $ref: './schemas/list.yaml'
    set:
      $ref: './schemas/set.yaml'
    ruling:
      $ref: './schemas/ruling.yaml'
    card_symbol:
      $ref: './schemas/card_symbol.yaml'
    catalog:
      $ref: './schemas/catalog.yaml'
    bulk_data:
      $ref: './schemas/bulk_data.yaml'
    card:
      $ref: './schemas/card.yaml'
    card_face:
      $ref: './schemas/card_face.yaml'
    related_card:
      $ref: './schemas/related_card.yaml'
    card_list:
      $ref: './schemas/card_list.yaml'
    post_card_list:
      $ref: './post_card_list.yaml'
    set_list:
      $ref: './schemas/set_list.yaml'
    ruling_list:
      $ref: './schemas/ruling_list.yaml'
    card_symbol_list:
      $ref: './schemas/card_symbol_list.yaml'
    bulk_data_list:
      $ref: './schemas/bulk_data_list.yaml'
    color_array:
      $ref: './schemas/color_array.yaml'
    legalities:
      $ref: './schemas/legalities.yaml'
    legalities_values:
      $ref: './schemas/legalities_values.yaml'
    image_uris:
      $ref: './schemas/image_uris.yaml'
    prices:
      $ref: './schemas/prices.yaml'
    related_uris:
      $ref: './schemas/related_uris.yaml'
    purchase_uris:
      $ref: './schemas/purchase_uris.yaml'
    set_types:
      $ref: './schemas/set_types.yaml'
    #The following are properties resused for the List Object
    object_list:
      $ref: './schemas/object_list.yaml'
    has_more:
      $ref: './schemas/has_more.yaml'
    next_page:
      $ref: './schemas/next_page.yaml'
    total_cards:
      $ref: './schemas/total_cards.yaml'
    warnings:
      $ref: './schemas/warnings.yaml'

  parameters:
    formatJson:
      $ref: './parameters/format_json.yaml'
    prettyJson:
      $ref: './parameters/pretty_json.yaml'
    formatMulti:
      $ref: './parameters/format_multi.yaml'
    face:
      $ref: './parameters/face.yaml'
    version:
      $ref: './parameters/version.yaml'
  responses:
    default:
      $ref: './responses/error.yaml'
