openapi: "3.0.0"
info:
  version: "0.0.1"
  title: "Scryfall API Documentation"
  description: "Scryfall provides a REST-like API for ingesting our card data programatically. The API exposes information available on the regular site in easy-to-consume formats."
servers:
  - url: "https://api.scryfall.com"
    description: "gfycat api"
tags:
  - name: "cards"
    description: "Card objects represent individual Magic: The Gathering cards that players could obtain and add to their collection (with a few minor exceptions)."
paths:
  /cards/random:
    get:
      tags:
        - "cards"
      summary: "Returns a single random Card object"
      parameters:
        - name: q
          in: query
          required: false
          description: An optional fulltext search query to filter the pool of random cards. Make sure that your parameter is properly encoded.
          schema:
            type: string
        - name: format
          in: query
          required: false
          description: The data format to return json, text, or image. Defaults to json.
          schema:
            type: string
        - name: face
          in: query
          required: false
          description: If using the image format and this parameter has the value back, the back face of the card will be returned. Will return a 422 if this card has no back face.
          schema:
            type: string
        - name: version
          in: query
          required: false
          description: The image version to return when using the image format small, normal, large, png, art_crop, or border_crop. Defaults to large.
          schema:
            type: string
        - name: pretty
          in: query
          required: false
          description: If true, the returned JSON will be prettified. Avoid using for production code.
          schema:
            type: boolean
      responses:
        401:
          description: "Unauthorized"
        200:
          description: "OK"
